# LangChain
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-community

# LangGraph
langgraph
langgraph-checkpoint-sqlite

# Tools
duckduckgo-search
tavily-python
mem0ai
markdown
beautifulsoup4
ddgs

# Google / Gmail
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Browser Automation
browser-use
playwright
nest_asyncio

# UI & Utils
streamlit
python-dotenv
requests

#evals
openai
deepeval